/* Sticky Footer Classes */
/* CSS for tags */
html,
body {
  height: 100%;
}

body {
  background-image: url(../img/background.jpg);
  background-size: repeat;
  -webkit-background-size: repeat;
  -moz-background-size: repeat;
  -o-background-size: repeat;
  background-attachment: fixed;
  /*background-position: 0 3.5em;*/
  /*background-color: linear-gradient(to right, #0062E6, #33AEFF);*/
   /*rgba(200,100,0,.5)*/
  /*background-color: rgba(200,100,0,0.4);*/
  /*background-blend-mode: multiply;*/
}

 /* CSS for IDs */
#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* CSS for classes */

.social_box {
    margin: 1em;
    display: inline-block;
    height: 3.7em;
    width: 3.7em;
    line-height: 3.7em;
}

.social_label {
    height: 3.7em;
    width: 3.7em;
    line-height: 3.7em;
    display: inline-block;
    border-radius: 50%;
    border-color: #222;
    border-style: solid;
    border-width: 0.3em;
    transition: 0.5s ease;
}

.social_box a {
    text-decoration: none;
    color: black;
}

.social_label:hover {
    background-color: black;
    color: white;
    transition: 0.2s ease;
}



